{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block content %}

{% include 'projects/header.html' %}

<main>
    <h1 class="display-4 fw-bold text-center">{{project.title}}</h1>

    {% if project.date %}
    <p class="lead text-center">{{project.date}}</p>
    {% endif %}

    <p class="text-center">
        {{project.abstract}}
    </p>

    {% if project.pictureMain %}
    <div class="container-sm my-4">
        <img width="100%" src="/media/projects/{{project.pictureMain}}" alt="{{project.title}}">
    </div>
    {% endif %}

    <div class="container my-5">
        {{ project.description | linebreaks | urlize }}
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 g-3 text-center">
            {% if project.picture1 %}
            <div class="col">
                <img width="100%" src="/media/projects/{{project.picture1}}" alt="">
            </div>
            {% endif %}
            {% if project.picture2 %}
            <div class="col">
                <img width="100%" src="/media/projects/{{project.picture1}}" alt="">
            </div>
            {% endif %}
            {% if project.picture3 %}
            <div class="col">
                <img width="100%" src="/media/projects/{{project.picture1}}" alt="">
            </div>
            {% endif %}
            {% if project.picture4 %}
            <div class="col">
                <img width="100%" src="/media/projects/{{project.picture1}}" alt="">
            </div>
            {% endif %}
            {% if project.picture5 %}
            <div class="col">
                <img width="100%" src="/media/projects/{{project.picture1}}" alt="">
            </div>
            {% endif %}
            {% if project.picture6 %}
            <div class="col">
                <img width="100%" src="/media/projects/{{project.picture1}}" alt="">
            </div>
            {% endif %}
        </div>
    </div>
</main>

{% endblock content %}