{% extends 'base.html' %}

{% block header %}


{% endblock header %}

{% block content %}

<header class="mb-4">
    <div class="container d-flex flex-wrap justify-content-between py-3 px-5 a-humburger">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/media/Logo/crashrt_alpha.png" alt="crashRT">
        </a>
        <input type="checkbox" name="hamburger" id="hamburger"
            class="c-hamburger-menu__input" /><!-- 追記 idはlabelのforと同じにする -->
        <label for="hamburger" class="c-hamburger-menu__bg"></label><!-- 追記 ハンバーガーメニュを開いた時の背景 -->

        <ul class="nav nav-pills c-hamburger-menu__list">
            <li class="nav-item"><a href={% url 'top' %} class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item"><a href={% url 'worklist' %} class="nav-link neu-shadow">Graphics</a></li>
            <li class="nav-item"><a href={% url 'projectslist' %} class="nav-link neu-shadow">DevProjects</a></li>
            <li class="nav-item"><a href={% url 'noteslist' %} class="nav-link neu-shadow">Notes</a></li>
            <li class="nav-item"><a href={% url 'about' %} class="nav-link neu-shadow">About</a></li>
            <li class="nav-item"><a href={% url 'contact' %} class="nav-link neu-shadow">Contact</a></li>
        </ul>
        <label for="hamburger" class="c-hamburger-menu__button neu-shadow"><!-- 追記 ハンバーガーメニューのボタン -->
            <span class="c-hamburger-menu__button-mark"></span>
            <span class="c-hamburger-menu__button-mark"></span>
            <span class="c-hamburger-menu__button-mark"></span>
        </label>
    </div>
</header>

<main>
    <section>
        <div class="position-relative overflow-hidden text-center">
            <div class="container mb-3">
                <a href="{% url 'about' %}">
                    <img src="/media/Logo/crashRT.jpg" class="top-icon neu-shadow my-5" alt="crashRT icon" width="300"
                        height="300" loading="lazy">
                    <img>
                </a>
                <h1>crashRT</h1>
                <p class="lead">Network / Web / 3DCG / MotionGraphics</p>

            </div>
        </div>
    </section>

    <section>
        <div class="album py-5 my-3">
            <div class="container">
                <a href="{% url 'projectslist' %}" class=" text-reset text-decoration-none ">
                    <h2 class="text-center">DevProjects</h2>
                </a>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for project in projects_list %}
                    <div class="col">
                        <a href={% url 'projectsdetail' project.pk %} class="text-reset text-decoration-none">
                            <div class="card neu-shadow h-100">
                                <img class="cart-body" width="100%"
                                    src="../../media/projects/thumbnail/{{project.thumbnail}}">
                                <div class="card-body">
                                    <h3>{{project.title}}</h3>
                                    <p class="card-text">{{project.abstract}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'projectslist' %}">
                        <button class="btn btn-outline-secondary my-3" type="button">more</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="album py-5 my-3">
            <div class="container">
                <a href="{% url 'worklist' %}" class=" text-reset text-decoration-none ">
                    <h2 class="text-center">Graphics</h2>
                </a>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for work in works_list%}
                    <div class="col">
                        <a href="/works/detail/{{work.pk}}">
                            <div class="card neu-shadow">

                                <img class="cart-body" width="100%" src="/media/works/thumbnail/{{work.thumbnail}}">

                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'worklist' %}">
                        <button class="btn btn-outline-secondary my-3" type="button">more</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="album py-5 my-3">
            <div class="container">
                <a href="{% url 'noteslist' %}" class=" text-reset text-decoration-none ">
                    <h2 class="text-center">Notes</h2>
                </a>
                <div class="row row-cols-1 row-cols-sm-2 g-3">
                    {% for note in notes_list %}
                    <div class="col">
                        <a href="{{note.url}}" class="text-reset text-decoration-none">
                            <div class="card neu-shadow h-100">
                                <div class="card-body">
                                    <h3>{{note.title}}</h3>
                                    <p class="card-text">{{note.abstract}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="{% url 'noteslist' %}">
                        <button class="btn btn-outline-secondary my-3" type="button">more</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>



{% endblock content %}