{% extends 'base.html' %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">
{% endblock header %}

{% block content %}
<div class="PageBodySub">
    <section class="PageNavi">
        <a href="{% url 'Top' %}">
            <img src="../../media/logo/crashrt_alpha.png" width=100%>
        </a>

        <ul class="menu ul_left">
            <li>
                <a href="javascript:void(0);">
                    <p class="NaviMenu">MENU</p>
                </a>
                <ul class="ul_left">
                    <li>
                        <a href="{% url 'Top' %}">
                            <p class="NaviLink">TOP</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'MovieList' %}">
                            <p class="NaviLink">MOVIE</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'PictureList' %}">
                            <p class="NaviLink">PICTURE</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ModelingList' %}">
                            <p class="NaviLink">3D Modeling</p>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'NoteList' %}">
                            <p class="NaviLink">NOTE</p>
                        </a>
                    </li>
                    <li>
                        <p class="PageNaviNow">ABOUT</p>
                    </li>
                    <li>
                        <a href="{% url 'Contact' %}">
                            <p class="NaviLink">CONTACT</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</div>

<div class="PageBodyMain">
    <h1 class="PageTitle">About</h1>
    <div class="Icon clearfix">
        <img src="{{ BASE_DIR }}/media/logo/crashRT.jpg">
    </div>

    <div class="Discription clearfix">

        <h2 class="Name">
            crashRT
        </h2>
        <p class="profile">
            MotionGraphics / 3DCG
        </p>
        <p class="profile">
            <a href="https://www.kmc.gr.jp/">京大マイコンクラブ(KMC)</a> 第45代部員
        </p>
        <p class="pr">
            普段は「かっこいい」作風をメインに，自分が好きになれるものを制作しています
        </p>
        <p class="Mail">Mail: crashrt1121[at]gmail.com</p>
        <p>[at]を＠に置き換えてください</p>
        <div class="Links">
            <h3>Links</h3>

            <p class="LinkUrl"><a href="https://twitter.com/crashRT_doyo">Twitter</a></p>

            <p class="LinkUrl"><a href="https://www.instagram.com/crashrt1121/">Instagram</a></p>

            <p class="LinkUrl"><a href="https://www.youtube.com/channel/UCN5nx_Ef6UaVQWy5SrFfTOw">Youtube</a></p>

            <p class="LinkUrl"><a href="https://www.nicovideo.jp/user/58907748">niconico</a></p>
        </div>

        <h3>使用ソフト</h3>
        <ur>
            <li>AfterEffects</li>
            <li>Illustrator</li>
            <li>blender</li>
            <li>CINEMA 4D</li>
        </ur>
    </div>
</div>

{% endblock content %}