{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <title>crashRT</title>

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <link rel="stylesheet" href="https://use.typekit.net/mwk7rug.css">
        {% block header %}
        {% endblock header %}
        <link rel="icon" href="{{ BASE_DIR }}/media/logo/favicon.ico" >
        <link rel="apple-touch-icon" sizes="180x180" href="{{ BASE_DIR }}/media/logo/crashRT_180px.png">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.2/lazysizes.min.js"></script>


    </head>

    <body>


        {% block content %}
        {% endblock content %}
    </body>
</html>