{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<!--リンク部分-->
<div class="PageBody">
    <div class="PageBodySub">
        <section class="PageNavi">
            <a href="{% url 'Top' %}">
                <img src="../../media/logo/crashrt_alpha.png" width=100%>
            </a>
            <ul class="menu ul_left">
                <li>
                    <a href="javascript:void(0);">
                        <p class="NaviMenu">MENU</p>
                    </a>
                    <ul class="ul_left">
                        <li>
                            <a href="{% url 'Top' %}">
                                <p class="NaviLink">TOP</p>
                            </a>
                        </li>
                        <li>
                            <p class="PageNaviNow">MOVIE</p>
                        </li>
                        <li>
                            <a href="{% url 'PictureList' %}">
                                <p class="NaviLink">PICTURE</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'ModelingList' %}">
                                <p class="NaviLink">3D Modeling</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'NoteList' %}">
                                <p class="NaviLink">NOTE</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'About' %}">
                                <p class="NaviLink">ABOUT</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'Contact' %}">
                                <p class="NaviLink">CONTACT</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>

    <!--画像リスト部分-->
    <div class="PageBodyMain">
        <h1 class="PageTitle">MOVIE</h1>
        <section class="PictureListContainer">
            {% for item in object_list reversed %}
            {% if item.thumbnail %}
            <div class="ListBlock">
                <a href="{% url 'MovieDetail' item.pk %}">
                    <!-- <h1>{{ item.title }}</h1> -->

                    <img class="lazyload"
                        src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7"
                        data-src="../../media/movie/thumbnail/{{ item.thumbnail }}.jpg" width="100%">
                </a>
            </div>
            {% endif %}

            {% endfor %}
        </section>
    </div>
</div>

{% endblock content %}