{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<!--リンク部分-->
<div class="PageBody">
    <div class="PageBodySub">
        <section class="PageNavi">
            <img src = "../../media/logo/crashrt_alpha.png" width = 100%>
            <p>TOP</p>
            <p class="PageNaviNow">MOVIE</p>
            <a href="{% url 'PictureList' %}"><p>PICTURE</p></a>
            <a href="{% url 'ModelingList' %}"><p>3D Modeling</p></a>
            <a href="{% url 'NoteList' %}"><p>NOTE</p></a>
            <p>ABOUT</p>
            <p>CONTACT</p>
        </section>
    </div>

    <!--画像リスト部分-->
    <div class="PageBodyMain">
        <h1 class="PageTitle">MOVIE</h1>
        <section class="PictureListContainer">
            {% for item in object_list reversed %}  <!--model : PictureModel -->
                    {% if item.thumbnail %}
                    <div class="ListBlock">
                        <a href="{% url 'MovieDetail' item.pk %}">
                            <!-- <h1>{{ item.title }}</h1> -->

                            <img class="lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7"
                            data-src = "../../media/movie/thumbnail/{{ item.thumbnail }}.jpg" width="100%">
                        </a>
                    </div>
                    {% endif %}

            {% endfor %}
        </section>
    </div>
</div>

{% endblock content %}