{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<!--リンク部分-->
<div class="PageBody">
    <div class="PageBodySub">
        <section class="PageNavi">
            <img src = "../../media/logo/crashrt_alpha.png" width = 100%>
            <p>TOP</p>
            <p>MOVIE</p>
            <p>PICTURE</p>
            <p>3D Modeling</p>
            <p>NOTE</p>
            <p>ABOUT</p>
            <p>CONTACT</p>
        </section>
    </div>

    <!--画像リスト部分-->
    <div class="PageBodyMain">
        <h1 class="PageTitle">Piture</h1>
        <section class="PictureListContainer">
            {% for item in object_list %}  <!--model : PictureModel -->
                    {% if item.picture1 %}
                    <div class="ListBlock">
                        <a href="{% url 'PictureDetail' item.pk %}">
                            <!-- <h1>{{ item.title }}</h1> -->

                            <img src = "../../media/picture/thumbnail/{{ item.picture1 }}.jpg" width="100%">
                        </a>
                    </div>
                    {% endif %}

            {% endfor %}
        </section>
    </div>
</div>

{% endblock content %}