{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

    <h1>{{ object.title }}</h1>

    {% if object.picture1 %}
        <img src = "../../../media/picture/{{ object.picture1 }}.png" class="DetailPicture">
    {% endif %}

    {% if object.picture2 %}
        <img src = "../../../media/picture/{{ object.picture2 }}.png" class="DetailPicture">
    {% endif %}

    {% if object.picture3 %}
        <img src = "../../../media/picture/{{ object.picture3 }}.png" class="DetailPicture">
    {% endif %}

    {% if object.picture4 %}
        <img src = "../../../media/picture/{{ object.picture4 }}.png" class="DetailPicture">
    {% endif %}

    {% if object.picture5 %}
        <img src = "../../../media/picture/{{ object.picture5 }}.png" class="DetailPicture">
    {% endif %}

    {% if object.picture6 %}
        <img src = "../../../media/picture/{{ object.picture6 }}.png" class="DetailPicture">
    {% endif %}


    <p>{{ object.discription |safe}}</p>

    <a href="{% url 'PictureList' %}">
        <div class = 'return'>
            <p>一覧へ</p>
        </div>
    </a>

{% endblock content %}