{% extends 'base.html' %}

{% block header %}
{% endblock header %}

{% block content %}

<div class="PictureListContainer">
    {% for item in object_list %}  <!--model : PictureModel -->
            {% if item.picture1 %}
            <div class="ListBlock">
                <a href="{% url 'PictureDetail' item.pk %}">
                    <!-- <h1>{{ item.title }}</h1> -->

                    <img src = "../../media/picture/thumbnail/{{ item.picture1 }}.jpg" width="100%">
                </a>
            </div>
            {% endif %}

    {% endfor %}
</div>

{% endblock content %}