/*-----------  List  -----------*/

.ListBlock{
    width:100%;
}

.PictureListContainer{
    width: 100%;
}

@media screen and (min-width: 481px) {
    .ListBlock{
        width:50%;
    }
    .PictureListContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
}
}

@media screen and (min-width: 961px) {
    .ListBlock{
        width: 33.33%;
    }
    .PictureListContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
}
}


/*----------   Detail  -----------*/
.DetailPicture{
    width:90%;
    margin: 1% 5%;
}