:root {
  --bs-body-bg: #ecf0f3;
  --header-height: 72px;
  --light-color: #fff;
  --shadow-color: #d1d9e6;
  --bg-color: #a6aeba;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #2d3d61;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #3f53b3;
  --bs-link-hover-color: #b3505f;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
  --easing: cubic-bezier(0.87, 0, 0.13, 1);
}

h2 {
  padding-bottom: 2rem;
}

.nav-link.active {
  /* background-color: var(--bs-link-color) !important; */
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.card {
  background-color: var(--bs-body-bg);
  border: 0;
  border-radius: 3px;
}

.card-img {
  border-radius: 3px;
}

.neu-shadow {
  box-shadow: 5px 5px 10px var(--shadow-color),
    -5px -5px 10px var(--light-color), 2px 2px 2px var(--shadow-color),
    -2px -2px 2px var(--light-color);
}

.neu-shadow:hover {
  box-shadow: 2px 2px 4px var(--shadow-color), -2px -2px 4px var(--light-color),
    1px 1px 1px var(--shadow-color), -1px -1px 1px var(--light-color);
}

.neu-shadow-nohover {
  box-shadow: 5px 5px 10px var(--shadow-color),
    -5px -5px 10px var(--light-color), 2px 2px 2px var(--shadow-color),
    -2px -2px 2px var(--light-color);
}

.neu-shadow-nohover:hover {
  box-shadow: 5px 5px 10px var(--shadow-color),
    -5px -5px 10px var(--light-color), 2px 2px 2px var(--shadow-color),
    -2px -2px 2px var(--light-color);
}

.neu-shadow-inset {
  box-shadow: inset 1px 1px 2px var(--shadow-color),
    inset -1px -1px 2px var(--light-color),
    inset 3px 3px 6px var(--shadow-color),
    inset -3px -3px 6px var(--light-color);
}

.nav-pills .nav-link {
  border-radius: 100vh;
}

.nav-item {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

header {
  box-shadow: var(--shadow-color) 0px 0px 10px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: color-mix(in srgb, var(--bs-body-bg) 93%, transparent);
  backdrop-filter: blur(20px);
  z-index: 10;
  display: grid;
}

.btn {
  border-radius: 100vh;
}

.btn-secondary {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border: 0;
}

.dropdown-menu {
  border-radius: 0.25rem;
}

.top-icon {
  border-radius: 100%;
  border: 10px solid var(--bs-body-bg);
}

.interest-icon {
  border-radius: 100%;
  padding: 24px;
  background-color: var(--bs-body-bg);
}

.c-header__list-link:hover {
  filter: opacity(0.6); /* カスタマイズしてください */
}

.c-hamburger-menu {
  position: relative;
}

@media screen and (max-width: 1000px) {
  .c-hamburger-menu__list {
    background-color: var(--bs-body-bg); /* カスタマイズしてください */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 0;
    padding: 2rem; /* カスタマイズしてください */
    position: absolute;
    transform: translateX(100%);
    transition: 0s; /* カスタマイズしてください */
    top: 100%;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px var(--shadow-color),
      -5px -5px 10px var(--light-color), 2px 2px 2px var(--shadow-color),
      -2px -2px 2px var(--light-color);
  }

  #hamburger:checked ~ .c-hamburger-menu__list {
    transform: translateX(20%);
    transition: 0.3s var(--easing);
  }
}

.c-hamburger-menu__input {
  display: none;
}

.c-hamburger-menu__bg {
  background-color: var(--bs-body-bg); /* カスタマイズしてください */
  cursor: pointer;
  display: none;
  height: 100vh;
  left: 0;
  opacity: 0.5; /* カスタマイズしてください */
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#hamburger:checked ~ .c-hamburger-menu__bg {
  display: block;
}

.c-hamburger-menu__button {
  display: none;
}

@media screen and (max-width: 1000px) {
  .c-hamburger-menu__button {
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px; /* カスタマイズしてください */
    height: 60px; /* カスタマイズしてください */
    justify-content: center;
    width: 60px; /* カスタマイズしてください */
    border-radius: 100%;
  }
}

.c-hamburger-menu__button-mark {
  background-color: var(--bs-body-color); /* カスタマイズしてください */
  display: block;
  height: 3px; /* カスタマイズしてください */
  transition: 0.3s var(--easing); /* カスタマイズしてください */
  width: 30px; /* カスタマイズしてください */
}

@media screen and (max-width: 1000px) {
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(1) {
    transform: translate(5px, -1px) rotate(45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(2) {
    opacity: 0;
  }
  #hamburger:checked
    ~ .c-hamburger-menu__button
    .c-hamburger-menu__button-mark:nth-of-type(3) {
    transform: translate(5px, 1px) rotate(-45deg); /* カスタマイズしてください */
    transform-origin: 0%; /* カスタマイズしてください */
  }
}
