
*{
    color: #11131D;
    background-color: #F7F8FF;
}

a:hover{
    color: #13162b;
    text-decoration: none;
}

a{
    color: #3f53b3;
    text-decoration: none;
}

/*-----------  構造  -----------
あとでレスポンシブに変更する必要あり*/
.PageBody{
    width: 100%;
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.PageBodySub{
    text-align: center;
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}
@media screen and (min-width:1081px) {
	/* PC */
    .PageBodyMain{
        width: 85%;
        float: right;
    }

    .PageBodySub {
        border-right: solid #909090 2px;
        width: 15%;
        margin-right:5px;
        float: left;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom:0px;
    }
}

@media screen and (max-width:1080px) {
    /* スマホ */
    .PageBodyMain{
        float: none;
    }

    .PageBodySub {
        float: none;
    }
}

.PageBodySub:after{
    content:"";
    clear: both;
    display: block;
}

/*-----------  List  -----------*/

.ListBlock{
    width:100%;
    margin: 2px;

}
.PageTitle{
    font-size: 30px;
    text-align: center;
    font-family: jaf-bernina-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}



@media screen and (min-width: 481px) {
    .ListBlock{
        width:44%;
    }
    .PictureListContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
}
}

@media screen and (min-width: 1081px) {
    .ListBlock{
        width: 32%;
    }
    .PictureListContainer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
}
}


/*----------   Detail  -----------*/
.DetailPicture{
    width:90%;
    margin: 1% 5%;
}

.return{
    font-size: 30px;
    text-align: center;
    color: #F7F8FF;
    padding: 15px;
    margin: 20px 35%;
    background-color: #3f53b3;
    border-radius: 300px;
}

.return:hover{
    background-color: #11131D;
}

/*----------   Navigation  -----------*/
.PageNavi{
    font-size: 20px;
}

.PageNaviNow{
    border-bottom: solid 1px #11131D;
    margin: 0% 20%;
    padding: 10px;
}

.NaviLink{
    color: #3f53b3;
    padding: 10px;
}
.NaviLink:hover{
    background-color: #3f53b3;
    color: #F7F8FF;
}

/*----------  Note  -----------*/

.NoteListBlock{
    margin:20px;
    padding: 20px;
    border: #13162b solid 1px;
    border-radius: 10px;
}


/*----------  Contact  -----------*/
.contact{
    line-height: 200%;
    margin :30px 50px
}

