{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block content %}


<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="/media/Logo/crashrt_alpha.png" alt="crashRT">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href={% url 'top' %} class="nav-link">Home</a></li>
            <li class="nav-item"><a href={% url 'worklist' %} class="nav-link">Works</a></li>
            <li class="nav-item"><a href={% url 'projectslist' %} class="nav-link">Projects</a></li>
            <li class="nav-item"><a href={% url 'noteslist' %} class="nav-link">Notes</a></li>
            <li class="nav-item"><a href={% url 'about' %} class="nav-link">About</a></li>
            <li class="nav-item"><a href={% url 'contact' %} class="nav-link active" aria-current="page">Contact</a>
            </li>
        </ul>
    </header>
</div>


<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"> Contact </h1>
            </div>
        </div>
    </section>
    <section class="container">
        <p class="fs-5">
            現在映像制作のご依頼は受け付けておりません．
            ご用がありましたら，下記の連絡先までお願いいたします．
        </p>
        <ul class="fs-5">
            <li>crashrt@crashrt.work</li>
            <li>crashrt1121@gmail.com</li>
            <li>Twitter (<a href="https://twitter.com/crashRT_doyo">@crashRT_doyo</a>)</li>
        </ul>
    </section>
<!--
    <div class="container">
        <p class="fs-5">映像制作のお仕事を募集しております．ご依頼の際は下記の連絡先までお願いいたしします． </p>
        <ul class="fs-5">
            <li>crashrt@crashrt.work</li>
            <li>crashrt1121@gmail.com</li>
            <li>Twitter (<a href="https://twitter.com/crashRT_doyo">@crashRT_doyo</a>)</li>
        </ul>
        <p class="fs-5">
            納期や料金は制作する映像によって変わりますので，要相談でお願いします．お気軽にご連絡ください．
        </p>
        <p class="fs-5">
            ご依頼の際，以下の内容について教えていただけると嬉しいです．
        </p>
        <div class="container p-3 my-3">
            <dl class="row">
                <dt class="col-sm-3">音源について</dt>
                <dd class="col-sm-9">
                    <p>音同期で使用するため，BPM を教えていただけると助かります．</p>
                </dd>

                <dt class="col-sm-3">使用素材について</dt>
                <dd class="col-sm-9">
                    <p>イラストなどの使用可能な素材をお伝えください．</p>
                    <p>イラストに背景がある場合，キャラクターとレイヤー分けされていただけると表現の幅が広がるため助かります．</p>
                </dd>

                <dt class="col-sm-3">映像のイメージについて</dt>
                <dd class="col-sm-9">
                    <p>雰囲気や色のイメージなどがあればお伝えください．イメージに近い映像作品があれば教えていただけると助かります．</p>
                </dd>

                <dt class="col-sm-3 text-truncate">納品形式や投稿先について</dt>
                <dd class="col-sm-9">
                    <p>
                        納品形式の指定があればお伝えください．
                    </p>
                    <p>
                        こちらで納品形式を調整することも可能です．その際は動画の投稿先をお伝えください．
                    </p>
                </dd>

            </dl>
        </div>
    </div>
-->
</main>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>



{% endblock content %}