{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block content %}


{% include 'works/worksheader.html' %}

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"> Works</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the
                    creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it
                    entirely.</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for work in works_list%}
                <div class="col">
                    <a href="/works/{{work.pk}}">
                        <div class="card shadow-sm">

                            <img class="cart-body" width="100%" src="../../media/thumbnail/{{work.thumbnail}}">

                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main>


<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>



{% endblock content %}